[submodule "pmg-gui"]
	path = pmg-gui
	url = https://git.proxmox.com/git/pmg-gui.git
[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = https://github.com/wy414012/proxmox-widget-toolkit.git
[submodule "pve-manager"]
	path = pve-manager
	url = https://github.com/wy414012/pve-manager.git
[submodule "proxmox-backup"]
	path = proxmox-backup
	url = https://git.proxmox.com/git/proxmox-backup.git
[submodule "proxmox-datacenter-manager"]
	path = proxmox-datacenter-manager
	url = https://git.proxmox.com/git/proxmox-datacenter-manager.git
[submodule "proxmox-yew-widget-toolkit"]
	path = proxmox-yew-widget-toolkit
	url = https://git.proxmox.com/git/proxmox-yew-widget-toolkit.git
[submodule "proxmox-yew-comp"]
	path = proxmox-yew-comp
	url = https://git.proxmox.com/git/proxmox-yew-comp.git
[submodule "pve-yew-mobile-gui"]
	path = pve-yew-mobile-gui
	url = https://git.proxmox.com/git/pve-yew-mobile-gui.git
[submodule "pmg-yew-quarantine-gui"]
	path = pmg-yew-quarantine-gui
	url = https://git.proxmox.com/git/pmg-yew-quarantine-gui.git
