[submodule "pmg-gui"]
	path = pmg-gui
	url = https://git.proxmox.com/git/pmg-gui.git

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = ../proxmox-widget-toolkit/

[submodule "pve-manager"]
	path = pve-manager
	url = ../pve-manager/

[submodule "proxmox-backup"]
	path = proxmox-backup
	url = https://git.proxmox.com/git/proxmox-backup.git	