[submodule "pmg-gui"]
	path = pmg-gui
	url = https://git.proxmox.com/git/pmg-gui

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = https://git.proxmox.com/git/proxmox-widget-toolkit

[submodule "pve-manager"]
	path = pve-manager
	url = https://git.proxmox.com/git/pve-manager
[submodule "proxmox-backup"]
	path = proxmox-backup
	url = https://git.proxmox.com/git/proxmox-backup
